
html, body, #root, .App {
  height: 100%;
  margin: 0;
  background-color: #121212;
  color: #ffffff;
}

.main-content {
  display: flex;
  flex-direction: row;
  height: calc(100% - 50px);
}

.editor-container {
  flex: 2;
  border-right: 1px solid #333;
}

.right-panel {
  flex: 1;
  padding: 16px;
}
